
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
